body {
    text-align: center;
    background: #222;
    color: white;
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
}

#resetBtn {
    padding: 5px;
    border-radius: 5px;
    background: #043040;
    color: white;
    font-size: 16px;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#startBtn {
    padding: 10px;
    border-radius: 10px;
    background: chartreuse;
    color: black;
    font-size: 48px;
    position: fixed;
    cursor: pointer;
    top: calc(50vh - 50px);
    left: calc(50vw - 80px);
}

#levelDesignBtn {
    padding: 10px;
    border-radius: 10px;
    background: #00ffff;
    color: black;
    font-size: 48px;
    position: fixed;
    cursor: pointer;
    top: 60vh;
    left: calc(50vw - 160px);
}

.designerBtn {
    padding: 10px;
    font-size: 20px;
    position: fixed;
    cursor: pointer;
    border-radius: 10px;
    bottom: 60px;
    display: none;
}

#placeBlockBtn {
    left: 20px;
}

#placeGoalBtn {
    left: 160px;
}

#placeDangerBtn {
    left: 300px;
}

/*.myButton {*/
/*    -moz-box-shadow:inset 0px 1px 0px 0px #276873;*/
/*    -webkit-box-shadow:inset 0px 1px 0px 0px #276873;*/
/*    box-shadow:inset 0px 1px 0px 0px #276873;*/
/*    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));*/
/*    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
/*    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
/*    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
/*    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);*/
/*    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);*/
/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);*/
/*    background-color:#599bb3;*/
/*    -moz-border-radius:3px;*/
/*    -webkit-border-radius:3px;*/
/*    border-radius:3px;*/
/*    border:1px solid #29668f;*/
/*    display:inline-block;*/
/*    cursor:pointer;*/
/*    color:#ffffff;*/
/*    font-family: Arial, sans-serif;*/
/*    font-size:13px;*/
/*    padding:11px 21px;*/
/*    text-decoration:none;*/
/*    text-shadow:0px 1px 0px #3d768a;*/
/*}*/
/*.myButton:hover {*/
/*    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));*/
/*    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
/*    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
/*    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
/*    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);*/
/*    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);*/
/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);*/
/*    background-color:#408c99;*/
/*}*/
/*.myButton:active {*/
/*    position:relative;*/
/*    top:1px;*/
/*}*/
